# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

# Vagrant
.vagrant
.ansible/*.retry
*local.yml

#Emacs
tags
GPATH
GRTAGS
GTAGS
.#*
rest_client.txt

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
.history/
coverage/
www/
node_modules/
typings/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
*.jks

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
